.cardImage {
    max-width: 288px;
    max-height: 500px;
    object-fit: cover;
}

.card {
    height: 600px;
    width: 312px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
}

.card:hover {
    transform: scale(105%);
    height: 100%;
    z-index: 2;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}